<div class="container-fluid footer mt-5">
  <div class="row">

    <!-- name  -->
    <div class="col-lg-6">
      <h1>Cloud Kitchen Web</h1>
      <p>Good Food, Great life</p>
    </div>

    <!-- nav  -->
    <div class="col-lg-4">
    </div>

    <!-- socialmedia  -->
    <div class="col-lg-2">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-whatsapp"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</div>
