<div class="container mt-5 mb-5">
  <div class="row">
    <h1 class="text-center mb-2">About Us</h1>
    <hr class="mb-5 mt-5" />
    <div class="img-info col-lg-8 mt-3">
      <img
        src="https://images.pexels.com/photos/2696064/pexels-photo-2696064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class=""
        alt="Men and Women cooking"
      />
      <img
      src="https://images.pexels.com/photos/4350059/pexels-photo-4350059.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      class=""
      alt="Men and Women cooking"
    />
    </div>
    <p class="lead mt-3 mb-3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At vel voluptates
      similique error, officia dolor eum rerum cupiditate porro consectetur nulla.
      Est placeat consequatur in eius veniam minus dolorem animi! Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Perspiciatis quos doloribus
      reprehenderit veniam recusandae labore deleniti quae quod delectus hic
      architecto ipsa dolor, placeat esse saepe veritatis sunt officiis dolorum!
    </p>
    <p class="card-subtitle mb-2 text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit labore voluptatum magnam quo ea dignissimos dolore temporibus consectetur ad officia assumenda modi quidem culpa vitae, veritatis, ut vel veniam facere?
    </p>
  </div>
</div>
