form
{
  margin-top: 10%;
}

img
{
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.form-buy
{
  display: grid;
  align-items: center;
  justify-content: center;
}

.preco-comida
{
  font-size: 30px;
}

.form-control
{
  margin-bottom: 30px;
}


